
<%- include('../includ/layout-start')%>

<main>
    <p class="h1" style="padding: 5px">Description</p>
    <div class="container text">
        <div class="container text-center">
            <p class="h4"><%= book.title %></p>
            <p class="h6"><%= book.description %></p>
        </div>
    </div>
</main>

<%- include('../includ/layout-end')%>